# Discord bot token goes here, set one up if you haven't already!!
DISCORD_TOKEN=

# Fluxer bot token goes here, these are super easy to set up, you can do it in app!
FLUXER_TOKEN=

# Get the server ID - it requires developer mode to be turned on though!
DISCORD_SERVERID=

# Same here, right click on the server name or icon and it will be called "Community ID"
FLUXER_GUILDID=

# by_name or by_position, name matches by name obviously, but position goes by the order of channels
MAPPING_TYPE=